@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --text-base: 18px;
  --leading-base: 125%;
}

:root {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  line-height: 125%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}